<!DOCTYPE HTML>
<html>
<head>
    <title>YJH의 Blog</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1, user-scalable=yes,initial-scale=1.0" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/blog.css">
    <link rel="stylesheet" href="/css/comment.css">
</head>
<body>
<h1 id="home_title"><a href="/">블로그</a></h1>
    <div class="col-md-12">
        <!-- 로그인 기능 영역-->
        <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6" id="login">
                <a href="/posts/save" role="button" class="btn btn-primary">글 등록</a>
                {{#userName}}
                    Logged in as: <span id="user">{{userName}}</span>
                    <a href="/logout" class="btn btn-info active" role="button">Logout</a>
                {{/userName}}
                {{^userName}}
                    <a href="/oauth2/authorization/google"
                       class="btn btn-success active" role="button">Google Login</a>
                    <a href="/oauth2/authorization/naver"
                       class="btn btn-secondary active" role="button">Naver Login</a>
                {{/userName}}
            </div>
        </div>
        <br>
        <ul class="nav col-md-12">
            <li class="header-list"><a class="classification" href="/board/html">html</a></li>
            <li class="header-list"><a class="classification" href="/board/css">css</a></li>
            <li class="header-list"><a class="classification" href="/board/javascript">javascript</a></li>
            <li class="header-list"><a class="classification" href="/board/java">java</a></li>
            <li class="header-list"><a class="classification" href="/board/springboot">springboot</a></li>
            <li class="header-list"><a class="classification" href="/board/database">데이터베이스</a></li>
            <li class="header-list"><a class="classification" href="/board/OS">운영체제</a></li>
            <li class="header-list"><a class="classification" href="/board/network">네트워크</a></li>
        </ul>
