<!DOCTYPE HTML>
<html>
<head>
    <title>YJH의 Blog</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1, user-scalable=yes,initial-scale=1.0" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/blog.css">
    <link rel="stylesheet" href="/css/comment.css">
</head>
<body>
    <div class="header">
        <a href="/" class="head-image"><img src="/css/head.jpg" alt="BLOG"></a>
        <ul class="nav index-nav">
            <li class="header-list"><a class="classification" href="/board/html">html</a></li>
            <li class="header-list"><a class="classification" href="/board/css">css</a></li>
            <li class="header-list"><a class="classification" href="/board/javascript">javascript</a></li>
            <li class="header-list"><a class="classification" href="/board/java">java</a></li>
            <li class="header-list"><a class="classification" href="/board/springboot">springboot</a></li>
            <li class="header-list"><a class="classification" href="/board/database">데이터베이스</a></li>
            <li class="header-list"><a class="classification" href="/board/OS">운영체제</a></li>
            <li class="header-list"><a class="classification" href="/board/network">네트워크</a></li>
        </ul>
        <!-- 로그인 기능 영역-->
        <div class="login-btn-area" id="login">
            {{#userName}}
                <span id="user">{{userName}}</span> 님
                <a href="/logout" class="btn btn-info active" role="button">Logout</a>
            {{/userName}}
            {{^userName}}
                <a href="/logging-in" class="btn btn-success active" role="button">Login</a>
            {{/userName}}
        </div>
    </div>
    <div class="middle-image"></div>
        <br>

