body {
    overflow: auto;
}
@font-face {
    font-family: 'ONE-Mobile-POP';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@media screen{
    #home_title {
        margin:30px 20px;
        text-align:center;
        display: center;
        justify-content: center;
    }
    #home_title a {
        text-decoration:none;
        color:black;
    }
    .classification:link {
        text-decoration:none;
        color:white;
    }
    .classification:visited {
        text-decoration:none;
        color:white;
    }
    .classification:hover {
        text-decoration:underline;
        color:white;
    }
    #login {
        text-align:right;
    }
    .header {
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
    }
    .head-image {
        flex: 0 0 20%;
        max-width: 20%;
        text-align: center;
        justify-content: center;
        margin: auto;
    }
    .head-image img {
        object-fit: cover;
        max-width: 90%;
    }
    .header-list {
        list-style:none;
        display: block;
        padding:20px 10px;
        margin:0 auto;
        white-space: nowrap;
        text-align:center;
    }
    .nav {
        flex: 0 0 60%;
        max-width: 63%;
        background-color: black;
        color:white;
        list-style-type: none;
        display: inline-grid;
        grid-template-columns: repeat(8, 1fr);
        align-content:space-evenly;
        justify-content:space-evenly;
        place-items: center;
        text-align: center;
        margin: 0;
        padding: 0;
    }
    #postTitle {
        text-align:center;
        padding:30px;
        border-bottom:1px solid gray;
    }
    #postContent {
        margin: 30px 10%;
        white-space:pre-wrap;
    }
    .center {
        justify-content:center;
        text-align:center;
    }
    .post-col-1, .post-col-2, .post-col-3, .post-col-4, .post-col-5 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: center;
    }
    .post-col-1 {
        width: 50px;
    }
    .post-col-2 {
        width: 50%;
    }
    .post-col-3 {
        width: 15%;
    }
    .post-col-4 {
        width: 20%;
    }
    .post-col-5 {
        width: 80px;
    }
    .post-update-and-back {
        text-align:right;
    }
    .post-save-header {
        text-align: center;
        margin: 30px;
        margin-top: 80px;
    }
    .post-save-form {
        margin-left: 25%;
        margin-bottom: 50px;
    }
    .post-save-buttons {
        text-align: right;
    }
    .index-post-save-button {
        position: absolute;
        right: 10%;
    }
    .posts-content {
        margin: 0 15%;
        margin-top: 80px;
        max-width: 70%;
    }
    .login-btn-area {
        margin: auto;
        padding-right: 10px;
        max-width: 15%;
    }
    .login-buttons {
        text-align: center;
        grid-template-rows: repeat(2, 40px);
    }
    .login-buttons-list {
        list-style: none;
        padding: 0;
    }
    .login-buttons-list li {
        margin: 10px;
    }
    #login-header {
        text-align: center;
        padding: 50px;
    }
    .login-button {
        display: block;
        width: 200px;
        margin: auto;
        padding: 10px;
    }
    .middle-image {
        background-image: url("sky.jpg");
        background-size: 100% 300px;
        width:100%;
        height: 300px;
        box-shadow: 0 0 8px 8px white inset;
    }
    .board {
        margin: 100px 10%;
    }
    .board-head {
        margin: 50px;
        text-align: center;
    }
    .page-images {
        border-radius: 20px;
        box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.8);
    }
}

@media screen and (max-width: 900px) {
    .head-image {
        margin: 30px auto;
        max-width: fit-content;
        display: block;
        text-align: center;
    }
    .header {
        display: grid;
        grid-template-rows: auto:
    }
    .nav {
        max-width: 100%;
        grid-template-rows: repeat(2, 64px);
        grid-template-columns: repeat(4, 1fr);
        align-content:space-evenly;
        justify-content:space-evenly;
        place-items: center;
        text-align: center;
        margin: 0;
        padding: 0;
    }
    .login-btn-area {
        margin-right: 40px;
        padding: 10px;
        max-width: fit-content;
    }
    .post-col-4 {
        display: none;
    }
    .post-save-form {
        margin: 0 10%;
        max-width: 80%;
    }
    .posts-content {
        margin: 0 10%;
        max-width: 80%;
    }
}

@media screen and (max-width: 768px) {

}

@media (max-width: 480px) {
    .nav {
        grid-template-rows: repeat(8, 64px);
        grid-template-columns: repeat(1, 1fr);
        align-content:space-evenly;
        justify-content:space-evenly;
        place-items: center;
        text-align: center;
        margin: 0;
        padding: 0;
    }
    .post-col-1, .post-col-2, .post-col-3, .post-col-4 {
        white-space: normal;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: center;
    }
    .post-col-4 {
        display: none;
    }
    .post-save-form {
        margin: 0 5%;
        max-width: 90%;
    }
    .posts-content {
        margin: 0 5%;
        max-width: 90%;
    }
}