#home_title {
    margin:100px;
    text-align:center;
}
.classification:link {
    text-decoration:none;
    color:white;
}
.classification:visited {
    text-decoration:none;
    color:white;
}
.classification:hover {
    text-decoration:underline;
    color:white;
}
#login {
    text-align:right;
}
.nav li {
    list-style:none;

    padding-left:0px;
    display: inline-block;
    padding:20px;
}
.nav {
    background-color: black;
    color:white;
    list-style-type: none;
    display:flex;
    justify-content:space-around;
    text-align: center;
    margin: 0;
    padding: 0;
}
#postTitle {
    text-align:center;
    padding:30px;
    border-bottom:1px solid gray;
}
#postContent {
    margin: 30px 10%;
    white-space:pre-wrap;
}
