#save-comment-author {
    display:inline-block;
    width: auto;
    background-color:rgba(255,255,255,0);
    border: none;
}

#comment-save-area {
    display:grid;
    grid-template-columns: 1fr 80px;
    margin-bottom: 2rem;
}

.comments {
    margin:1rem;
}

.comments-header {
    display:flex;
}

.commentsAuthor {
    display:inline-block;
    margin-right: 10px;
}

.comments-modifiedDate {
    flex-grow: 1;
    text-align:right;
}

.comment-update-button {
    text-align: right;
}