{{>layout/header}}


<!-- 목록 출력 영역-->
<table class="table table-horizontal table-bordered">
    <thead class="thead=strong">
    <tr>
        <th>게시글번호</th>
        <th>제목</th>
        <th>분류</th>
        <th>최종수정일</th>
    </tr>
    </thead>
    <tbody id="tbody">
    {{#posts}}
        <tr>
            <td>{{id}}</td>
            <td><a href="/posts/update/{{id}}">{{title}}</a></td>
            <td>{{classification}}</td>
            <td>{{modifiedDate}}</td>
        </tr>
    {{/posts}}
    </tbody>
</table>
</div>

{{>layout/footer}}