{{>layout/header}}


        <!-- 목록 출력 영역-->
        <table class="table table-horizontal table-bordered">
            <thead class="thead=strong">
            <tr>
                <th>게시글번호</th>
                <th>제목</th>
                <th>분류</th>
                <th>최종수정일</th>
            </tr>
            </thead>
            <tbody id="tbody">
            {{#posts}}
                <tr>
                    <td>{{id}}</td>
                    <td><a href="/posts/{{id}}">{{title}}</a></td>
                    <td>{{classification}}</td>
                    <td>{{modifiedDate}}</td>
                </tr>
            {{/posts}}
            </tbody>
        </table>
        <nav aria-label="Page navigation">
            <ul class="pagination center">
                <li class="page-item">
                    <a class="page-link" href="?page={{previous}}">&lt;</a>
                </li>
                {{#check}}
                <li class="page-item">
                    <a class="page-link" href="?page={{next}}">&gt;</a>
                </li>
                {{/check}}
                {{^check}}
                    <li class="page-item disabled">
                        <a class="page-link" href="?page={{next}}">&gt;</a>
                    </li>
                {{/check}}
            </ul>
        </nav>

{{>layout/footer}}