{{>layout/header}}

<!-- Header -->
<header id="header" class="header">
    <img class="decoration-star" src="/images/decoration-star.svg" alt="alternative">
    <img class="decoration-star-2" src="/images/decoration-star.svg" alt="alternative">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-xl-5">
                <div class="text-container">
                    <h1>Blog에 오신 것을 환영합니다.</h1>
                    <p class="p-large">여기는 CS 기초 지식 및 개발 지식을 정리해 두는 공간입니다.</p>
                </div>
            </div>
            <div class="col-lg-5 col-xl-7">
                <div class="image-container">
                    <img class="img-fluid page-images" src="/images/header.png" alt="alternative">
                </div>
            </div>
        </div>
    </div>
</header>


<!-- Introduction -->
<div id="abouts" class="basic-1 bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-xl-9">
                <h2>블로그 소개</h2>
                <p>이 블로그는 이동욱 저자의 '스프링 부트와 AWS로 혼자 구현하는 웹 서비스'를 기반으로 만든 블로그입니다.</p>
            </div>
        </div>
    </div>
</div>



<!-- Details 1 -->
<div id="CS" class="basic-2">
    <img class="decoration-star" src="/images/decoration-star.svg" alt="alternative">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-xl-5">
                <div class="image-container">
                    <img class="img-fluid page-images" src="/images/CS.png" alt="alternative">
                </div>
            </div>
            <div class="col-lg-6 col-xl-7">
                <div class="text-container">
                    <h2>Computer Science 기초 지식</h2>
                    <ul class="list-unstyled li-space-lg">
                        <li class="d-flex">
                            <i class="fas fa-square"></i>
                            <div class="flex-grow-1"><a class="nav-link" href="/board/network">네트워크</a></div>
                        </li>
                        <li class="d-flex">
                            <i class="fas fa-square"></i>
                            <div class="flex-grow-1"><a class="nav-link" href="/board/OS">운영체제</a></div>
                        </li>
                        <li class="d-flex">
                            <i class="fas fa-square"></i>
                            <div class="flex-grow-1"><a class="nav-link" href="/board/database">데이터베이스</a></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Services -->
<div id="dev" class="cards-1 bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="text-container">
                    <h2>개발 기초 지식</h2>
                    <ul class="list-unstyled li-space-lg">
                        <li class="d-flex">
                            <i class="fas fa-square"></i>
                            <div class="flex-grow-1"><a class="nav-link" href="/board/html">html</a></div>
                        </li>
                        <li class="d-flex">
                            <i class="fas fa-square"></i>
                            <div class="flex-grow-1"><a class="nav-link" href="/board/css">css</a></div>
                        </li>
                        <li class="d-flex">
                            <i class="fas fa-square"></i>
                            <div class="flex-grow-1"><a class="nav-link" href="/board/javascript">javascript</a></div>
                        </li>
                        <li class="d-flex">
                            <i class="fas fa-square"></i>
                            <div class="flex-grow-1"><a class="nav-link" href="/board/javas">java</a></div>
                        </li>
                        <li class="d-flex">
                            <i class="fas fa-square"></i>
                            <div class="flex-grow-1"><a class="nav-link" href="/board/springboot">springboot</a></div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="image-container">
                    <img class="img-fluid page-images" src="/images/dev.png" alt="alternative">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Testimonials -->
<!--
<div class="slider-1 bg-gray">
    <img class="quotes-decoration" src="/images/quotes.svg" alt="alternative">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <div class="slider-container">
                    <div class="swiper-container card-slider">
                        <div class="swiper-wrapper">

                            <div class="swiper-slide">
                                <img class="testimonial-image" src="/images/testimonial-1.jpg" alt="alternative">
                                <p class="testimonial-text">“Expense bed any sister depend changer off piqued one. Contented continued any happiness instantly objection yet her allowance. Use correct day new brought tedious. By come this been in. Kept easy or sons my it how about some words here done”</p>
                                <div class="testimonial-author">Marlene Visconte</div>
                                <div class="testimonial-position">General Manager - Scouter</div>
                            </div>

                            <div class="swiper-slide">
                                <img class="testimonial-image" src="/images/testimonial-2.jpg" alt="alternative">
                                <p class="testimonial-text">“Expense bed any sister depend changer off piqued one. Contented continued any happiness instantly objection yet her allowance. Use correct day new brought tedious. By come this been in. Kept easy or sons my it how about some words here done”</p>
                                <div class="testimonial-author">John Spiker</div>
                                <div class="testimonial-position">Team Leader - Vanquish</div>
                            </div>

                            <div class="swiper-slide">
                                <img class="testimonial-image" src="/images/testimonial-3.jpg" alt="alternative">
                                <p class="testimonial-text">“Expense bed any sister depend changer off piqued one. Contented continued any happiness instantly objection yet her allowance. Use correct day new brought tedious. By come this been in. Kept easy or sons my it how about some words here done”</p>
                                <div class="testimonial-author">Stella Virtuoso</div>
                                <div class="testimonial-position">Design Chief - Bikegirl</div>
                            </div>

                        </div>

                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
-->
{{>layout/footer}}