{{>layout/header}}
    <h2 id="login-header">로그인</h2>
    <div class="login-buttons">
        <ul class="login-buttons-list">
            <li>
                <a href="/oauth2/authorization/google"
                   class="login-button btn btn-primary active" role="button">Google Login</a>
            </li>
            <li>
                <a href="/oauth2/authorization/naver"
                   class="login-button btn btn-success active" role="button">Naver Login</a>
            </li>
        </ul>
    </div>
{{>layout/footer}}

