{{>layout/header}}

<div>
    <h2 id="postTitle">{{post.title}}</h2>
    <p id="postContent">{{post.content}}</p>
</div>
<h3>Comments</h3>
<form>
    <div class="form-group">
        <input type="text" class="form-control" id="post_id" value="{{post.id}}" hidden>
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="user_id" value="{{userId}}" hidden>
    </div>
    <div class="form-group" id="form-author">
        <input type="text" class="form-control" id="author" value="{{userName}}" readonly>
    </div>
    <div id="comment-save-area">
        <div class="form-group" id="form-content">
            <textarea class="form-control" id="content" placeholder="댓글을 입력하세요" rows="3"></textarea>
        </div>
        <button type="button" class="btn btn-primary" id="btn-comment-save">등록</button>
    </div>
</form>
{{#comments}}
    <div class="comments" id="comment-{{id}}">
        <h5 class="commentsAuthor">{{created_by}}
            <small class="only-for-author" hidden>
                <a href="#" class="btn btn-primary comment-edit-btn" data-toggle="collapse" data-target=".multi-collapse-{{id}}">수정</a>
                <button type="button" class="btn btn-danger" id="btn-comment-delete">삭제</button>
            </small>
        </h5>
        <p class="collapse multi-collapse-{{id}} show">{{content}}</p>
        <form class="collapse multi-collapse-{{id}}">
            <div class="form-group">
                <input type="hidden" class="form-control" id="comment_id" value="{{id}}">
            </div>
            <div class="form-group">
                <input type="hidden" class="form-control" id="post_id" value="{{post.id}}">
            </div>
            <div class="form-group">
                <input type="hidden" class="form-control" id="user_id" value="{{userId}}">
            </div>
            <div class="form-group">
                <input type="hidden" class="form-control" id="comment-author" value="{{userName}}">
            </div>
            <div class="form-group">
                <textarea class="form-control" id="comment-content" rows="3">{{content}}</textarea>
            </div>
            <button type="button" class="btn btn-info btn-comment-update">수정 완료</button>
        </form>
    </div>
{{/comments}}
<div>
    <a href="/posts/update/{{id}}" role="button" class="btn btn-primary">수정</a>
    <a href="/javascript:history.back()" class="btn btn-secondary">뒤로 가기</a>
</div>
</div>

{{>layout/footer}}