{{>layout/header}}

<h1 class="post-save-header">게시글 수정</h1>

<div class="col-md-12">
    <div class="col-md-6 post-save-form">
        <form action="/api/v1/posts/{{post.id}}" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <input type="text" class="form-control" id="id" value="{{post.id}}" hidden>
                <!-- readonly는 Input 태그에 읽기 기능만 허용하는 속성이다. -->
            </div>
            <div class="form-group post-save-title">
                <label for="title">제목</label>
                <input name="title" type="text" class="form-control" id="title" value="{{post.title}}">
            </div>
            <div class="form-group post-save-classification">
                <label for="classification"> 분류 </label>
                <select name="classification" id="classification">
                    <option value="{{post.classification}}">{{post.classification}}</option>
                    <option value="html">HTML</option>
                    <option value="css">CSS</option>
                    <option value="javascript">JAVASCRIPT</option>
                    <option value="java">JAVA</option>
                    <option value="springboot">SPRING BOOT</option>
                    <option value="database">데이터베이스</option>
                    <option value="network">네트워크</option>
                    <option value="OS">OS</option>
                </select>
            </div>
            <div class="form-group post-save-content">
                <label for="content"> 내용 </label>
                <textarea name="content" class="form-control" id="content" rows="15">{{post.content}}</textarea>
            </div>
            <div class="form-group post-save-inputFile">
                <label for="inputFile"> 첨부파일 </label>
                <div class="col-md-12">
                    <input name="file" type="file" multiple="multiple" class="custom-file-input" id="customFile">
                    <label class="custom-file-label" for="customFile">파일을 선택해 주세요.</label>
                </div>
            </div>
            <div class="post-save-buttons">
                <a href="/" role="button" class="btn btn-secondary">취소</a>
                <input type="submit" class="btn btn-primary" role="button" id="btn-update" value="수정 완료">
                <button type="button" class="btn btn-danger" id="btn-delete">삭제</button>
            </div>
        </form>
    </div>
</div>
</div>

{{>layout/footer}}