{{>layout/header}}

<div>
    <h2 id="postTitle">{{post.title}}</h2>
    <p id="postContent">{{post.content}}</p>
</div>
<form>
    <div class="form-group">
        <input type="text" class="form-control" id="post_id" value="{{post.id}}" hidden>
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="user_id" value="{{userId}}" hidden>
    </div>
    <div class="form-group">
        <label for="author">작성자</label>
        <input type="text" class="form-control" id="author" value="{{userName}}" readonly>
    </div>
    <div class="form-group">
        <label for="content">내용</label>
        <textarea class="form-control" id="content" placeholder="댓글을 입력하세요"></textarea>
    </div>
</form>
<button type="button" class="btn btn-primary" id="btn-comment-save">등록</button>
{{#comments}}
    <div class="comments">
        <h4 class="commentsAuthor">{{created_by}}</h4>
        <p class="commentsContent">{{content}}</p>
        <div class="only-for-author" hidden>
            <button type="button" class="btn btn-primary" onclick="show_update_form(this)">수정</button>
            <div class="comments-update" hidden>
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" id="comment_id" value="{{id}}" hidden>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="post_id" value="{{post.id}}" hidden>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="user_id" value="{{userId}}" hidden>
                    </div>
                    <div class="form-group">
                        <label for="author">작성자</label>
                        <input type="text" class="form-control" id="author" value="{{userName}}" readonly>
                    </div>
                    <div class="form-group">
                        <label for="content">내용</label>
                        <textarea class="form-control" id="content">{{content}}</textarea>
                    </div>
                </form>
                <button type="button" class="btn btn-primary" id="btn-comment-update">수정 완료</button>
            </div>
            <button type="button" class="btn btn-danger" id="btn-comment-delete">삭제</button>
        </div>
    </div>
{{/comments}}
<div>
    <a href="/posts/update/{{id}}" role="button" class="btn btn-primary">수정</a>
    <a href="/javascript:history.back()" class="btn btn-secondary">뒤로 가기</a>
</div>
</div>

{{>layout/footer}}